<div class="title-logout">
    <span class="text-primary">L</span>
    <span class="text-primary">O</span>
    <span class="text-primary">G</span>
    <span class="text-primary">G</span>
    <span class="text-primary">I</span>
    <span class="text-primary">N</span>
    <span class="text-primary">G</span>
    <span class="letter text-primary"></span>
    <span class="text-primary">U</span>
    <span class="text-primary">T</span>
    <span class="text-primary">.</span>
    <span class="text-primary">.</span>
    <span class="text-primary">.</span>
</div>