<nb-layout>
  <nb-layout-header>
    edit customer details
    <nb-menu [items]="items"></nb-menu>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-card-body class="example-items-col">
        <input type="text" nbInput fullWidth status="info" placeholder="Name" />
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body class="example-items-col">
        <input
          type="text"
          nbInput
          fullWidth
          status="info"
          placeholder="phone"
        />
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-body class="example-items-col">
        <input
          type="text"
          nbInput
          fullWidth
          status="info"
          placeholder="email"
        /><br />
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
