<nb-card>
    <nb-card-header>
        <h1 class="text-info">BULK UPLOAD</h1>
    </nb-card-header>
    <nb-card-body class="">
        <div class="row">
            <form>
                <input type="file" (change)="fileChange($event)" placeholder="Upload file ..." accept=".xlsx">

                <!--<button type="submit">Upload</button>-->
                <button nbButton status="success" class="hvr-bob">
                    <nb-icon icon="file-outline"></nb-icon>
                    Bulk Upload MPAN Details
                </button>
            </form>
        </div>
        <div class="row">
            <span *ngIf="serverResponse.message">
                SERVER MESSAGE: {{serverResponse.message}}
            </span>
        </div>
    </nb-card-body>
</nb-card>