<div class="row">
    <div class="col-md-10">
        <nb-card [nbSpinner]="spinner_loading"
                 nbSpinnerStatus="danger">
            <nb-card-header>
                <h1 class="text-primary">BULK UPLOAD MPAN(s)</h1>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <input #inputFile type="file"
                           (change)="fileChange($event)"
                           placeholder="Upload file ..."
                           accept=".xlsx">
                </div>
                <hr>
                <div class="row">
                    <button nbButton status="success"
                            [disabled]="!isSelectedFile"
                            class="hvr-bob" (click)="onUploadFiles()">
                        <nb-icon icon="file-outline"></nb-icon>
                        Bulk Upload MPAN Details
                    </button>
                    <button nbButton status="danger"
                            [disabled]="!isSelectedFile"
                            class="hvr-bob" (click)="clearSelectedFile()">
                        <nb-icon icon="refresh-outline"></nb-icon>
                        Clear Selected File
                    </button>
                </div>
                <hr>
                <div class="row">
                    <nb-progress-bar [value]="progress_value" status="info">{{progress_text}}</nb-progress-bar>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card accent="info" fullWidth>
            <nb-card-header>
                Bulk Import Tasks
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table [settings]="tasksTableSettings" [source]="tasksDatasource">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>