<nb-card>
    <nb-card-header>
        <h1 class="text-info">BULK UPLOAD</h1>
    </nb-card-header>
    <nb-card-body class="">
        <!--<button nbButton status="success" class="hvr-bob">-->
        <!--<nb-icon icon="file-outline"></nb-icon>-->
        <!--Bulk Upload MPAN Details-->
        <!--</button>-->
        <div class="row">
            <form>
                <input type="file"
                       class="input-full-width status-warning size-medium shape-semi-round"
                       nbInput fullWidth
                       placeholder=".."/>

                <!--<button type="submit">Upload</button>-->
                <button nbButton status="success" class="hvr-bob">
                    <nb-icon icon="file-outline"></nb-icon>
                    Bulk Upload MPAN Details
                </button>
            </form>
        </div>
    </nb-card-body>
</nb-card>