<div class="header">
  <nb-card class="header-con">
    <nb-card-body class="header-body">
      <!--ACTION BUTTONS-->
      <div class="row">
        <div (click)="onClickSearch($event)">
          <nb-search
            type="rotate-layout"
            tag="srv-account-search"
            placeholder="search for service a/c .."
            hint="By ID "
          ></nb-search>
        </div>
        <!-- <button (click)="onClickHome()" ghost size="small" nbButton>
          <nb-icon icon="home-outline" status="primary"></nb-icon>
          Home
        </button> -->
        <button
          (click)="onClickBack()"
          ghost
          size="small"
          status="primary"
          class="hvr-bob"
          nbButton
        >
          <nb-icon icon="arrowhead-left-outline" status="primary"></nb-icon>
          Back
        </button>
        <button
          (click)="onEventClick()"
          ghost
          size="small"
          status="primary"
          class="hvr-bob"
          nbButton
        >
          <nb-icon icon="save-outline" status="danger"></nb-icon>
          Save
        </button>
        <button
          (click)="onEventClick()"
          ghost
          size="small"
          status="primary"
          class="hvr-bob"
          nbButton
        >
          <nb-icon icon="refresh-outline" status="primary"></nb-icon>
          Reset
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<div class="row">
  <div class="col-md-12" *ngIf="searchResultVisible">
    <nb-card
      accent="primary"
      [nbSpinner]="spinner_loading"
      nbSpinnerStatus="danger"
      nbSpinnerSize="large"
      fullWidth
    >
      <nb-card-header>
        <div class="total_results">
          <h6 class="title_search_results text-muted">
            Total results : &nbsp;
          </h6>
          <h6 class="search_results text-muted">{{ searchResultCount }}</h6>
          <div class="font-italic text-danger" *ngIf="noSearchResultReturned">
            No matching results found please try with different search text ..
          </div>
        </div>
      </nb-card-header>

      <nb-card-body class="smart_table" *ngIf="!noSearchResultReturned">
        <ng2-smart-table [settings]="tableSettings" [source]="localDataSource">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Account by Service Type</nb-card-header>
      <nb-card-body>
        <ngx-srv-360-type-pie></ngx-srv-360-type-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Accounts by Billing Org</nb-card-header>
      <nb-card-body>
        <ngx-srv-360-billing-pie></ngx-srv-360-billing-pie>
      </nb-card-body>
    </nb-card>
  </div>
</div>
