<div class="col-md-12 col-lg-12 col-sm-12">
    <div class="row">
        <button (click)="onClickBack()"
                ghost size="small" status="primary" class="hvr-bob" nbButton> > back
        </button>
    </div>
    <div class="row">
        <!--SITE DETAIL CARD-->
        <div class="col-md-12 col-lg-12 col-sm-12">
            <nb-card class="inline-form-card">
                <nb-card-header>
                    SITE/ SERVICE CABLE DETAILS SCREEN
                    <h6 class="text-warning"> {{ routed_id$ | async}}</h6>

                </nb-card-header>
                <nb-card-body>
                    <form class="form-inline" [formGroup]="form">
                        <div class="col-md-12">
                            <!--Project ID-->
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="label col-sm-3 col-form-label">Site Project ID</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width status-warning size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder="Project ID"
                                               formControlName="project_number">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="label col-sm-3 col-form-label">Sub Project ID</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width status-warning size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder="Sub-project ID"
                                               formControlName="sub_project_number">
                                    </div>
                                </div>
                            </div>
                            <!--Cable ID-->
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="label col-sm-3 col-form-label">Site/ Service Cable Identity</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder="ID"
                                               formControlName="cable_identity">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="label col-sm-3 col-form-label">Parent Cable Identity</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder="ID"
                                               formControlName="parent_cable_identity">
                                    </div>
                                </div>
                            </div>
                            <!--Parent ID-->
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="label col-sm-3 col-form-label">Main Cable Identity</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder="ID"
                                               formControlName="main_cable_identity">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <nb-checkbox formControlName="parent_indicator" status="info">Parent Indicator
                                    </nb-checkbox>
                                </div>
                            </div>
                            <!-- MAX power-->
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="label col-sm-3 col-form-label">Max Power Req</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder=""
                                               formControlName="max_power_requirement">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="label col-sm-3 col-form-label">Special access</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder="special access.."
                                               formControlName="special_access">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="label col-sm-3 col-form-label">Idle Service Date</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder=""
                                               formControlName="idle_service_date">
                                    </div>
                                </div>
                            </div>
                            <!-- PLOT NO-->
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="label col-sm-3 col-form-label">Plot Number</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder=""
                                               formControlName="plot_no">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="label col-sm-3 col-form-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea type="text"
                                                  class="input-full-width size-medium shape-semi-round"
                                                  nbInput fullWidth rows="5"
                                                  placeholder="description.."
                                                  formControlName="description"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="label col-sm-3 col-form-label">Property Type</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder=""
                                               formControlName="property_type">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- SUPPLY CAPACITY-->
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="label col-sm-3 col-form-label">Supply Capacity</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder=""
                                               formControlName="supply_capacity">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="label col-sm-3 col-form-label">Supply Voltage</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder=""
                                               formControlName="supply_voltage">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="label col-sm-3 col-form-label">Number of Phases</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder=""
                                               formControlName="number_of_phases">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="label col-sm-3 col-form-label">Phase Combination</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder=""
                                               formControlName="phase_combination">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- REF PLAN-->
                            <div class="row">
                                <div class="form-group col-md-9">
                                    <label class="label col-sm-3 col-form-label">Ref to plan</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder=""
                                               formControlName="ref_2_plan">
                                    </div>
                                </div>
                            </div>


                            <!--ADDRESSES ROW-->
                            <div class="row">
                                <!--TABS-->
                                <nb-tabset fullWidth>
                                    <nb-tab tabTitle="Site Address">
                                        <form class="form-inline" [formGroup]="form.get('site_address')">
                                            <div class="col-md-12">
                                                <!--ADDRESS LINES-->
                                                <div class="row">
                                                    <div class="form-group col-md-9">
                                                        <label class="label col-sm-3 col-form-label">line 1</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   class="input-full-width size-medium shape-rectangle"
                                                                   nbInput fullWidth
                                                                   placeholder=""
                                                                   formControlName="line_1">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-9">
                                                        <label class="label col-sm-3 col-form-label">line 2</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   class="input-full-width size-medium shape-rectangle"
                                                                   nbInput fullWidth
                                                                   placeholder=""
                                                                   formControlName="line_2">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-9">
                                                        <label class="label col-sm-3 col-form-label">line 3</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   class="input-full-width size-medium shape-rectangle"
                                                                   nbInput fullWidth
                                                                   placeholder=""
                                                                   formControlName="line_3">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-9">
                                                        <label class="label col-sm-3 col-form-label">line 4</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   class="input-full-width size-medium shape-rectangle"
                                                                   nbInput fullWidth
                                                                   placeholder=""
                                                                   formControlName="line_4">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-9">
                                                        <label class="label col-sm-3 col-form-label">line 5</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   class="input-full-width size-medium shape-rectangle"
                                                                   nbInput fullWidth
                                                                   placeholder=""
                                                                   formControlName="line_5">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-9">
                                                        <label class="label col-sm-3 col-form-label">line 6</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   class="input-full-width size-medium shape-rectangle"
                                                                   nbInput fullWidth
                                                                   placeholder=""
                                                                   formControlName="line_6">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-9">
                                                        <label class="label col-sm-3 col-form-label">line 7</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   class="input-full-width size-medium shape-rectangle"
                                                                   nbInput fullWidth
                                                                   placeholder=""
                                                                   formControlName="line_7">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-9">
                                                        <label class="label col-sm-3 col-form-label">Postcode</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   class="input-full-width size-medium shape-rectangle"
                                                                   nbInput fullWidth
                                                                   placeholder=""
                                                                   formControlName="postcode">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </nb-tab>
                                    <nb-tab tabTitle="Site contact details">
                                        <form class="form-inline" [formGroup]="form.get('site_contact_details')">
                                            <div class="col-md-12">
                                                <!--ADDRESS LINES-->
                                                <div class="row">
                                                    <div class="form-group col-md-9">
                                                        <label class="label col-sm-3 col-form-label">Name</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   class="input-full-width size-medium shape-rectangle"
                                                                   nbInput fullWidth
                                                                   placeholder=""
                                                                   formControlName="name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-9">
                                                        <label class="label col-sm-3 col-form-label">Telephone</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   class="input-full-width size-medium shape-rectangle"
                                                                   nbInput fullWidth
                                                                   placeholder=""
                                                                   formControlName="telephone">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-md-9">
                                                        <label class="label col-sm-3 col-form-label">Fax</label>
                                                        <div class="col-sm-9">
                                                            <input type="text"
                                                                   class="input-full-width size-medium shape-rectangle"
                                                                   nbInput fullWidth
                                                                   placeholder=""
                                                                   formControlName="fax">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </nb-tab>
                                </nb-tabset>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>
