<div class="col-md-12 col-lg-12 col-sm-12">
    <div class="row">
        <button (click)="onClickBack()"
                ghost size="small" status="primary"
                class="hvr-bob" nbButton>
            <nb-icon icon="home-outline" status="primary"></nb-icon>
            Home
        </button>
        <button (click)="onClickBack()"
                ghost size="small" status="primary"
                class="hvr-bob" nbButton>
            <nb-icon icon="arrowhead-left-outline" status="primary"></nb-icon>
            Back
        </button>
        <button (click)="onClickBack()"
                ghost size="small" status="primary"
                class="hvr-bob" nbButton>
            <nb-icon icon="save-outline" status="danger"></nb-icon>
            Save
        </button>
        <button (click)="onClickBack()"
                ghost size="small" status="primary"
                class="hvr-bob" nbButton>
            <nb-icon icon="refresh-outline" status="primary"></nb-icon>
            Reset
        </button>
    </div>

    <div class="row">

        <div class="col-md-12 col-lg-12 col-sm-12">
            <nb-card>
                <ngx-asset-details-form [form]="form"></ngx-asset-details-form>
                <hr>
                <div class="row">
                    <div class="ref-id-container">
                        <h6 class="text-warning">RELATED MPAN(s)</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-1">
                        <div class="row">
                            <a class="hvr-grow" routerLink="/pages/mpan-details/3000311842220"
                               routerLinkActive="active">MPAN -- 3000311842220</a>
                        </div>
                        <div class="row">
                            <a class="hvr-grow" routerLink="/pages/mpan-details/3007428567721"
                               routerLinkActive="active">MPAN -- 3007428567721</a>
                        </div>
                        <div class="row">
                            <a class="hvr-grow" routerLink="/pages/mpan-details/3038647382451"
                               routerLinkActive="active">MPAN -- 3038647382451</a>
                        </div>
                        <div class="row">
                            <a class="hvr-grow" routerLink="/pages/mpan-details/3052869536957"
                               routerLinkActive="active">MPAN -- 3052869536957</a>
                        </div>
                        <div class="row">
                            <a class="hvr-grow" routerLink="/pages/mpan-details/3062232292802"
                               routerLinkActive="active">MPAN -- 3062232292802</a>
                        </div>
                    </div>
                </div>
            </nb-card>
        </div>
    </div>
</div>