<div class="col-md-12 col-lg-12 col-sm-12">
    <div class="row">
        <button (click)="onClickBack()" class="hvr-bob"
                ghost size="small" status="primary" nbButton> > back
        </button>
    </div>
    <div class="row">
        <!--SITE DETAIL CARD-->
        <div class="col-md-12 col-lg-12 col-sm-12">
            <nb-card class="inline-form-card">
                <nb-card-header>
                    MAIN CABLE DETAILS SCREEN
                    <h6 class="text-warning"> {{ routed_id$ | async}}</h6>

                </nb-card-header>
                <nb-card-body>
                    <form class="form-inline" [formGroup]="form">
                        <div class="col-md-12">
                            <!--CABLE ID-->
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="label col-sm-3 col-form-label">Cable Identity</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width status-success size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder="Cable ID"
                                               formControlName="cable_identity">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="label col-sm-3 col-form-label">Upstream Asset ID</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width status-warning size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder="Upstream ID"
                                               formControlName="upstream_asset_identity">
                                    </div>
                                </div>
                            </div>
                            <!--DESCRIPTION-->
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="label col-sm-3 col-form-label">Reference to plan</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth
                                               placeholder="Ref plan.."
                                               formControlName="ref_2_plan">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="label col-sm-3 col-form-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea type="text"
                                                  class="input-full-width size-medium shape-semi-round"
                                                  nbInput fullWidth rows="5"
                                                  placeholder="description.."
                                                  formControlName="description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--PARENT DETAILS-->
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <nb-checkbox formControlName="parent_indicator" status="info">Parent Indicator
                                    </nb-checkbox>
                                </div>
                                <div class="form-group col-md-9">
                                    <label class="label col-sm-3 col-form-label">Parent Mains Cable Identity</label>
                                    <div class="col-sm-9">
                                        <input type="text"
                                               class="input-full-width size-medium shape-semi-round"
                                               nbInput fullWidth rows="5"
                                               placeholder="description.."
                                               formControlName="parent_mains_cable_identity">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>
