<div class="header">
    <nb-card class="header-con">
        <nb-card-body class="header-body">
            <!--ACTION BUTTONS-->
            <div class="row">
                <button
                        (click)="onClickHome()"
                        ghost
                        size="small"
                        status="primary"
                        class="hvr-bob"
                        nbButton
                >
                    <nb-icon icon="home-outline" status="primary"></nb-icon>
                    Home
                </button>
                <button
                        (click)="onClickBack()"
                        ghost
                        size="small"
                        status="primary"
                        class="hvr-bob"
                        nbButton
                >
                    <nb-icon
                            icon="arrowhead-left-outline"
                            status="primary"
                    ></nb-icon>
                    Back
                </button>
                <button
                        (click)="onEventClick()"
                        ghost
                        size="small"
                        status="primary"
                        class="hvr-bob"
                        nbButton
                >
                    <nb-icon icon="save-outline" status="danger"></nb-icon>
                    Save
                </button>
                <button
                        (click)="onEventClick()"
                        ghost
                        size="small"
                        status="primary"
                        class="hvr-bob"
                        nbButton
                >
                    <nb-icon icon="refresh-outline" status="primary"></nb-icon>
                    Reset
                </button>
                <button
                        (click)="onEventClick()"
                        ghost
                        size="small"
                        status="primary"
                        class="hvr-bob"
                        nbButton
                >
                    <nb-icon icon="expand-outline" status="danger"></nb-icon>
                    Edit Account
                </button>
            </div>
        </nb-card-body>
    </nb-card>

    <div class="srv-detail">
        <nb-card>
            <nb-card-header>
				<span class="text-primary font-weight-bold">
					<nb-icon
                            icon="flash-outline"
                            pack="eva"
                            status="danger"
                    ></nb-icon>
					Service Account
				</span>
            </nb-card-header>
            <div class="details-card" *ngIf="serviceAccount$ | async as serviceAccount">
                <nb-card-body>
                    <div class="srv-detail-container">
                        <div class="c-detail-item">
                            <div class="c-detail-item-title text-primary">
                                Customer ID
                            </div>
                            <div class="c-detail-item-value font-weight-bold">
                                <a
                                        class="hvr-grow"
                                        [routerLink]="
										'/pages/customer/' +
										serviceAccount.customer_id
									"
                                        routerLinkActive="active"
                                >
									<span>
										<nb-icon
                                                icon="people-outline"
                                                pack="eva"
                                                status="danger"
                                        ></nb-icon>
                                        {{ serviceAccount.customer_id }}
									</span>
                                </a>
                            </div>
                        </div>
                        <div class="c-detail-item">
                            <div class="c-detail-item-title">Service #</div>
                            <div
                                    class="c-detail-item-value text-danger font-weight-bold"
                            >
                                {{ serviceAccount.service_id }}
                            </div>
                        </div>
                        <div class="c-detail-item">
                            <div class="c-detail-item-title text-primary">
                                Service Type
                            </div>
                            <div class="c-detail-item-value">
                                {{ serviceAccount.service_type }}
                            </div>
                        </div>
                        <div class="c-detail-item">
                            <div class="c-detail-item-title text-primary">
                                Description
                            </div>
                            <div class="c-detail-item-value">
                                {{ serviceAccount.service_desc }}
                            </div>
                        </div>
                        <div class="c-detail-item">
                            <div class="c-detail-item-title text-primary">
                                Status
                            </div>
                            <div class="c-detail-item-value">
                                {{ serviceAccount.service_status }}
                            </div>
                        </div>
                        <div class="c-detail-item">
                            <div class="c-detail-item-title text-primary">
                                Start Date
                            </div>
                            <div class="c-detail-item-value">
                                {{ serviceAccount.service_start }}
                            </div>
                        </div>
                        <div class="c-detail-item">
                            <div class="c-detail-item-title text-primary">
                                Linked Asset
                            </div>
                            <div class="c-detail-item-value text-danger font-weight-bold">
                                {{ serviceAccount.asset_id }}
                            </div>
                        </div>
                    </div>
                    <!--TAGS-->
                    <div class="tags">
                        <div class="text-info"
                             *ngFor="let tag of serviceAccount.tags">
                            <button
                                    nbButton
                                    outline
                                    shape="round"
                                    size="small"
                                    status="success"
                            >
                                {{ tag }}
                            </button>
                        </div>
                    </div>
                </nb-card-body>
            </div>
        </nb-card>

        <nb-card>
            <nb-card-header>
				<span class="text-primary font-weight-bold">
				<nb-icon
                        icon="map-outline"
                        pack="eva"
                        status="danger"
                ></nb-icon>
				CONTACT INFO
			</span>
            </nb-card-header>
            <div class="details-card" *ngIf="serviceAccount$ | async as serviceAccount">
                <nb-card-body>
                    <div class="c-detail-item">
                        <div class="c-detail-item-title text-primary">
                            Billing Address
                        </div>
                        <div class="c-detail-item-value">
                            {{
                            serviceAccount.billing_address.street
                            }}
                        </div>
                        <div class="c-detail-item-value">
                            {{ serviceAccount.billing_address.city }}
                        </div>
                        <div class="c-detail-item-value">
                            {{ serviceAccount.billing_address.state }}
                        </div>
                        <div class="c-detail-item-value">
                            {{
                            serviceAccount.billing_address.country
                            }}
                        </div>
                        <div class="c-detail-item-value">
                            {{
                            serviceAccount.billing_address
                                .postcode
                            }}
                        </div>
                    </div>
                    <div class="c-detail-item">
                        <div class="c-detail-item-title text-primary">
                            Contact Info
                        </div>
                        <div class="c-detail-item-value">
                            {{ serviceAccount.contact_info.email }}
                        </div>
                        <div class="c-detail-item-value">
                            {{serviceAccount.contact_info.contact_info}}
                        </div>
                    </div>
                </nb-card-body>
            </div>
        </nb-card>
    </div>

    <div class="srv-detail">
        <nb-card size="medium" class="smart-table">
            <nb-card-header>
				<span class="text-primary font-weight-bold">
					<nb-icon
                            icon="pantone-outline"
                            pack="eva"
                            status="danger"
                    ></nb-icon>
					BILLS ISSUED
				</span>
            </nb-card-header>

            <div class="bill-invoice-card">
                <nb-card-body>
                    <ng2-smart-table
                            [settings]="tableSettings"
                            [source]="localDataSource"
                    ></ng2-smart-table>
                </nb-card-body>
            </div>
        </nb-card>
        <!--CONTACT INFO-->
        <nb-card>
            <nb-card-header>
				<span class="text-primary font-weight-bold">
					<nb-icon
                            icon="grid-outline"
                            pack="eva"
                            status="danger"
                    ></nb-icon>
					ACCOUNT INFO
				</span>
            </nb-card-header>
            <div class="details-card">
                <nb-card-body>
                    <div class="c-detail-item">
                        <div class="c-detail-item-title text-primary">
                            Outstanding Balance
                        </div>
                        <div
                                class="c-detail-item-value text-danger font-weight-bolder"
                        >
                            £300.70
                        </div>
                        <div class="c-detail-item-title text-primary">
                            Last Payment
                        </div>
                        <div class="c-detail-item-value">2020-07-07</div>
                        <div class="c-detail-item-title text-primary">
                            Last Payment Amount
                        </div>
                        <div class="c-detail-item-value">£70.00</div>
                        <div class="c-detail-item-title text-primary">
                            Last Bill Date
                        </div>
                        <div class="c-detail-item-value">2020-08-01</div>
                        <div class="c-detail-item-title text-primary">
                            Last Bill Amount
                        </div>
                        <div class="c-detail-item-value">£370.70</div>
                    </div>
                </nb-card-body>
            </div>
        </nb-card>
    </div>
    <div class="srv-detail">
        <nb-card size="large" class="smart-table">
            <nb-card-header>
				<span class="text-primary font-weight-bold">
					<nb-icon
                            icon="pantone-outline"
                            pack="eva"
                            status="danger"
                    ></nb-icon>
					BILL TRANSACTIONS
				</span>
            </nb-card-header>

            <div class="bill-invoice-card">
                <nb-card-body>
                    <ng2-smart-table
                            [settings]="billTransactionstableSettings"
                            [source]="billTransactionDataSource"
                    ></ng2-smart-table>
                </nb-card-body>
            </div>
        </nb-card>
    </div>
</div>
