<form class="form-inline" [formGroup]="form">
    <div class="col-md-12">
        <!--ADDRESS LINES-->
        <!--<div class="row">-->
        <!--<div class="form-group col-md-9">-->
        <!--<label class="label col-sm-3 col-form-label">Address Type</label>-->
        <!--<div class="col-sm-9">-->
        <!--<input type="text"-->
        <!--class="input-full-width size-medium shape-rectangle"-->
        <!--nbInput fullWidth-->
        <!--[readonly]="isReadOnly"-->
        <!--placeholder="Address Type.."-->
        <!--formControlName="address_type"-->
        <!--[status]="getFieldStatus('address_type')">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="form-group col-md-9">
                <label class="label col-sm-3 col-form-label">line 1</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="input-full-width size-medium shape-rectangle"
                           nbInput fullWidth
                           [readonly]="isReadOnly"
                           placeholder=""
                           formControlName="address_1"
                           [status]="getFieldStatus('address_1')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                <label class="label col-sm-3 col-form-label">line 2</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="input-full-width size-medium shape-rectangle"
                           nbInput fullWidth
                           [readonly]="isReadOnly"
                           placeholder=""
                           formControlName="address_2"
                           [status]="getFieldStatus('address_2')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                <label class="label col-sm-3 col-form-label">line 3</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="input-full-width size-medium shape-rectangle"
                           nbInput fullWidth
                           [readonly]="isReadOnly"
                           placeholder=""
                           formControlName="address_3"
                           [status]="getFieldStatus('address_3')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                <label class="label col-sm-3 col-form-label">line 4</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="input-full-width size-medium shape-rectangle"
                           nbInput fullWidth
                           [readonly]="isReadOnly"
                           placeholder=""
                           formControlName="address_4"
                           [status]="getFieldStatus('address_4')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                <label class="label col-sm-3 col-form-label">line 5</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="input-full-width size-medium shape-rectangle"
                           nbInput fullWidth
                           [readonly]="isReadOnly"
                           placeholder=""
                           formControlName="address_5"
                           [status]="getFieldStatus('address_5')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                <label class="label col-sm-3 col-form-label">line 6</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="input-full-width size-medium shape-rectangle"
                           nbInput fullWidth
                           [readonly]="isReadOnly"
                           placeholder=""
                           formControlName="address_6"
                           [status]="getFieldStatus('address_6')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                <label class="label col-sm-3 col-form-label">line 7</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="input-full-width size-medium shape-rectangle"
                           nbInput fullWidth
                           [readonly]="isReadOnly"
                           placeholder=""
                           formControlName="address_7"
                           [status]="getFieldStatus('address_7')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                <label class="label col-sm-3 col-form-label">line 8</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="input-full-width size-medium shape-rectangle"
                           nbInput fullWidth
                           [readonly]="isReadOnly"
                           placeholder=""
                           formControlName="address_8"
                           [status]="getFieldStatus('address_8')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                <label class="label col-sm-3 col-form-label">line 9</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="input-full-width size-medium shape-rectangle"
                           nbInput fullWidth
                           [readonly]="isReadOnly"
                           placeholder=""
                           formControlName="address_9"
                           [status]="getFieldStatus('address_9')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                <label class="label col-sm-3 col-form-label">Post Code</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="input-full-width size-medium shape-rectangle"
                           nbInput fullWidth
                           [readonly]="isReadOnly"
                           placeholder=""
                           formControlName="post_code"
                           [status]="getFieldStatus('post_code')">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-9">
                <label class="label col-sm-3 col-form-label">Date Effective
                    From</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="input-full-width size-medium shape-rectangle"
                           nbInput fullWidth
                           [readonly]="isReadOnly"
                           placeholder=""
                           formControlName="effective_from"
                           [status]="getFieldStatus('effective_from')">
                </div>
            </div>
        </div>
    </div>
</form>