<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                    <div (click)="onClickSearch($event)">
                        <nb-search
                                type="rotate-layout"
                                tag="tariff-search"
                                placeholder="search for tariffs .."
                                hint="By ID/ Name "
                        ></nb-search>
                        <i class="title offset-2">Search for tariffs ..</i>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>