<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <h5>Search MPAN</h5>
    </div>
    <div class="row">
        <nb-search type="rotate-layout"
                   placeholder="Search MPAN .."
                   hint="By ID/ Address/ "></nb-search>
    </div>
    <div class="row">
        <nav>
            <a class="row" routerLink="./MPANID-12345" routerLinkActive="active">MPANID-12345</a>
            <a class="row" routerLink="./MPANID-12345" routerLinkActive="active">MPANID-12345</a>
            <a class="row" routerLink="./MPANID-12345" routerLinkActive="active">MPANID-12345</a>
            <a class="row" routerLink="./MPANID-12345" routerLinkActive="active">MPANID-12345</a>
        </nav>
    </div>
</div>