<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 hvr-underline-from-center">
                    <div (click)="onClickSearchForMpan($event)">
                        <nb-search type="rotate-layout"
                                   tag="mpan-search"
                                   placeholder="search MPAN .."
                                   hint="By ID/ Address/ "></nb-search>
                        <i class="title offset-2">Search For MPAN ..</i>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card accent="danger" size="large"
                 [nbSpinner]="spinner_loading"
                 nbSpinnerStatus="danger"
                 nbSpinnerSize="large">
            <nb-card-header>
                <h6 class="text-muted"> search results .. </h6>
            </nb-card-header>
            <nb-card-body>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <nb-list>
                        <nb-list-item class="" *ngIf="searchResultVisible">
                            <div class="row">
                                <span class="col-md-4"> MPAN </span>
                                <span class="col-md-4"> METER ID </span>
                                <span class="col-md-4"> ADDRESS </span>
                            </div>
                        </nb-list-item>
                        <nb-list-item class="" *ngFor="let mpan of searchMpanResults.mpans">
                            <div class="row">
                                <span class="col-md-4">
                                    <a class="hvr-grow"
                                       [routerLink]="'./' + mpan.id"
                                       routerLinkActive="active">
                                        <span>
                                            <nb-icon icon="arrow-right" pack="eva" status="info"></nb-icon>
                                            {{ 'MPAN ID -- ' + mpan.id }}
                                        </span>
                                    </a>
                                </span>
                                <span class="col-md-4" *ngIf="mpan.meter">
                                    <nb-icon icon="arrow-right" pack="eva" status="info"></nb-icon>
                                    {{ mpan.meter.meter_fk }}
                                </span>
                                <span class="col-md-4" *ngIf="mpan.mpan_address">
                                    <nb-icon icon="arrow-right" pack="eva" status="warning"></nb-icon>
                                    {{ mpan.mpan_address.address_1 + ', '
                                     + mpan.mpan_address.address_2 + ', '
                                     + mpan.mpan_address.post_code }}
                                </span>
                            </div>
                        </nb-list-item>
                    </nb-list>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>