<!---->
<nb-card size="giant">
    <nb-card-header>Select HH-Profile</nb-card-header>
    <nb-card-body class="example-items-rows">
        <button *ngFor="let profile of profileList"
                nbButton outline fullWidth status="info"
                (click)="onProfileClick(profile)">
            {{ profile.name }}
        </button>
        <!--<button nbButton outline fullWidth status="danger">-->
            <!--Add Profile-->
        <!--</button>-->
        <button (click)="openNewProfileForm()" outline fullWidth status="danger" nbButton>
            New HH- Profile
        </button>
    </nb-card-body>
</nb-card>

