<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 hvr-underline-from-center">
                    <div (click)="onClickSearch($event)">
                        <nb-search type="rotate-layout"
                                   tag="customer-search"
                                   placeholder="search for customer .."
                                   hint="By ID/ Name/Wild Card "></nb-search>
                        <i class="title offset-2">Search for Customer ..</i>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card accent="primary"
                 [nbSpinner]="spinner_loading"
                 nbSpinnerStatus="danger"
                 nbSpinnerSize="large"
                 fullWidth>
            <nb-card-header>
                <h5 class="text-muted"> Search results .. </h5>
                <div class="font-italic text-danger" *ngIf="noSearchResultReturned">
                    No matching results found please try with different search text ..
                </div>
            </nb-card-header>

            <nb-card-body *ngIf="searchResultVisible">
                <ng2-smart-table [settings]="tableSettings" [source]="localDataSource">
                </ng2-smart-table>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <nb-card>
            <nb-card-header>Customer Split</nb-card-header>
            <nb-card-body>
                <ngx-customer-360-pie></ngx-customer-360-pie>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-8">
        <nb-card>
            <nb-card-header>Customer by Dist No</nb-card-header>
            <nb-card-body>
                <ngx-customer-360-dist-pie></ngx-customer-360-dist-pie>
            </nb-card-body>
        </nb-card>
    </div>
</div>
