<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                    <nb-search type="rotate-layout"
                               placeholder="Search for Cable Details .."
                               hint="By ID "></nb-search>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body>
                <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12">
                    <nav>
                        <a class="row" routerLink="./10EAST01-M01" routerLinkActive="active">10EAST01-M01</a>
                        <a class="row" routerLink="./10EAST01-M01" routerLinkActive="active">10EAST01-M01</a>
                        <a class="row" routerLink="./10EAST01-M01" routerLinkActive="active">10EAST01-M01</a>
                        <a class="row" routerLink="./10EAST01-M01" routerLinkActive="active">10EAST01-M01</a>
                    </nav>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>