<div class="col-md-12 col-lg-12 col-sm-12">
    <!--ACTION BUTTONS-->
    <div class="row">
        <button (click)="onClickHome()"
                ghost size="small" status="primary"
                class="hvr-bob" nbButton>
            <nb-icon icon="home-outline" status="primary"></nb-icon>
            Home
        </button>
        <button (click)="onClickBack()"
                ghost size="small" status="primary"
                class="hvr-bob" nbButton>
            <nb-icon icon="arrowhead-left-outline" status="primary"></nb-icon>
            Back
        </button>
        <button (click)="onClickSave()"
                ghost size="small" status="primary"
                class="hvr-bob" nbButton>
            <nb-icon icon="save-outline" status="danger"></nb-icon>
            Save
        </button>
        <button (click)="onClickReset()"
                ghost size="small" status="primary"
                class="hvr-bob" nbButton>
            <nb-icon icon="refresh-outline" status="primary"></nb-icon>
            Reset
        </button>
        <nb-checkbox [(checked)]="isFormEditable" status="primary">
            Edit Details
        </nb-checkbox>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <nb-card accent="primary">
                <nb-tabset fullWidth>
                    <!--MPAN DETAILS-->
                    <nb-tab tabTitle="MPAN Details" tabIcon="file-text-outline" responsive>
                        <form class="form-inline" [formGroup]="form">
                            <div class="col-md-12">
                                <!--HEADER ROW-->
                                <div class="row">
                                    <div class="ref-id-container">
                                        <span class="text-basic h3">MPAN #</span>
                                        <span class="text-primary h3">
                                            {{ rawFormValue['id'] }}
                                        </span>
                                    </div>
                                </div>
                                <hr>
                                <!--FIRST ROW - MAIN DETAILS-->
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mpan.customer_name'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput
                                                   fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mpan.customer_name'].placeholder"
                                                   [readonly]="formFieldAttributes['mpan.customer_name'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mpan.customer_name'].tooltip"
                                                   [formControlName]="formFieldAttributes['mpan.customer_name'].formControlName"
                                                   [status]="getFieldStatus('mpan.customer_name')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                    </div>
                                </div>
                                <!--SECOND ROW - ENERGISATION DETAILS-->
                                <div class="row" [formGroup]="form.get('energisation')">
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['energisation.state_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['energisation.state_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['energisation.state_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['energisation.state_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['energisation.state_fk'].formControlName"
                                                   [status]="getFieldStatus('energisation.state_fk', 'energisation')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['energisation.effective_from'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['energisation.effective_from'].placeholder"
                                                   [readonly]="formFieldAttributes['energisation.effective_from'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['energisation.effective_from'].tooltip"
                                                   [formControlName]="formFieldAttributes['energisation.effective_from'].formControlName">
                                        </div>
                                    </div>
                                </div>
                                <!--THIRD ROW - LLFC DETAILS-->
                                <div class="row" [formGroup]="form.get('llfc')">
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['llfc.line_loss_factor_class_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['llfc.line_loss_factor_class_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['llfc.line_loss_factor_class_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['llfc.line_loss_factor_class_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['llfc.line_loss_factor_class_fk'].formControlName"
                                                   [status]="getFieldStatus('llfc.line_loss_factor_class_fk', 'llfc')"
                                                   (keydown.enter)="$event.target.blur();">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['llfc.effective_from'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['llfc.effective_from'].placeholder"
                                                   [readonly]="formFieldAttributes['llfc.effective_from'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['llfc.effective_from'].tooltip"
                                                   [formControlName]="formFieldAttributes['llfc.effective_from'].formControlName"
                                                   [status]="getFieldStatus('llfc.effective_from', 'llfc')">
                                        </div>
                                    </div>
                                </div>
                                <!--ASC!! CLASS DETAILS-->
                                <div class="row" [formGroup]="form.get('asc')">
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['asc.value'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['asc.value'].placeholder"
                                                   [readonly]="formFieldAttributes['asc.value'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['asc.value'].tooltip"
                                                   [formControlName]="formFieldAttributes['asc.value'].formControlName"
                                                   [status]="getFieldStatus('asc.value', 'asc')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['asc.effective_from'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['asc.effective_from'].placeholder"
                                                   [readonly]="formFieldAttributes['asc.effective_from'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['asc.effective_from'].tooltip"
                                                   [formControlName]="formFieldAttributes['asc.effective_from'].formControlName"
                                                   [status]="getFieldStatus('asc.effective_from', 'asc')">
                                        </div>
                                    </div>
                                </div>
                                <!--CONNECTION DISCONNECTION DATE-->
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mpan.connection_date'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mpan.connection_date'].placeholder"
                                                   [readonly]="formFieldAttributes['mpan.connection_date'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mpan.connection_date'].tooltip"
                                                   [formControlName]="formFieldAttributes['mpan.connection_date'].formControlName"
                                                   [status]="getFieldStatus('mpan.connection_date')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mpan.disconnection_date'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mpan.disconnection_date'].placeholder"
                                                   [readonly]="formFieldAttributes['mpan.disconnection_date'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mpan.disconnection_date'].tooltip"
                                                   [formControlName]="formFieldAttributes['mpan.disconnection_date'].formControlName"
                                                   [status]="getFieldStatus('mpan.disconnection_date')">
                                        </div>
                                    </div>
                                </div>
                                <!--MEASUREMENT CLASS DETAILS-->
                                <div class="row" [formGroup]="form.get('mc')">
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mc.measurement_class_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mc.measurement_class_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['mc.measurement_class_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mc.measurement_class_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['mc.measurement_class_fk'].formControlName"
                                                   [status]="getFieldStatus('mc.measurement_class_fk', 'mc')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mc.effective_from'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mc.effective_from'].placeholder"
                                                   [readonly]="formFieldAttributes['mc.effective_from'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mc.effective_from'].tooltip"
                                                   [formControlName]="formFieldAttributes['mc.effective_from'].formControlName"
                                                   [status]="getFieldStatus('mc.effective_from', 'mc')">
                                        </div>
                                    </div>
                                </div>
                                <!--SETTLEMENT DETAILS-->
                                <div class="row" [formGroup]="form.get('ssc')">
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['ssc.ssc_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['ssc.ssc_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['ssc.ssc_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['ssc.ssc_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['ssc.ssc_fk'].formControlName"
                                                   [status]="getFieldStatus('ssc.ssc_fk', 'ssc')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['ssc.effective_from'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['ssc.effective_from'].placeholder"
                                                   [readonly]="formFieldAttributes['ssc.effective_from'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['ssc.effective_from'].tooltip"
                                                   [formControlName]="formFieldAttributes['ssc.effective_from'].formControlName"
                                                   [status]="getFieldStatus('ssc.effective_from', 'ssc')">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!--ROW ADDRESS TABSET-->
                                <div class="row">
                                    <!--TABS-->
                                    <nb-tabset fullWidth>
                                        <nb-tab tabTitle="Metering Point Address">
                                            <ngx-address-form
                                                    [form]="form.get('mpan_address')"
                                                    [(isReadOnly)]="!isFormEditable"></ngx-address-form>
                                        </nb-tab>
                                        <nb-tab tabTitle="Mailing Address">
                                            <ngx-address-form
                                                    [form]="form.get('mailing_address')"
                                                    [isReadOnly]="true"></ngx-address-form>
                                        </nb-tab>
                                        <nb-tab tabTitle="Meter Details">
                                            <div class="col-md-12">
                                                <!--METER DETAILS-->
                                                <div class="row">
                                                    <form class="form-inline" [formGroup]="form.get('meter')">
                                                        <div class="form-group col-md-4">
                                                            <label class="label col-sm-3 col-form-label">Meter
                                                                ID</label>
                                                            <div class="col-sm-9">
                                                                <input type="text"
                                                                       class="input-full-width size-medium shape-semi-round"
                                                                       nbInput fullWidth
                                                                       placeholder=""
                                                                       formControlName="meter_fk">
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label class="label col-sm-3">Installation Date</label>
                                                            <div class="col-sm-9">
                                                                <input type="text"
                                                                       class="input-full-width size-medium shape-semi-round"
                                                                       nbInput fullWidth
                                                                       placeholder=""
                                                                       formControlName="installation_date">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </nb-tab>
                                    </nb-tabset>
                                </div>
                                <hr>
                                <!--UNMETRED / EXPORTS/ ..-->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <nb-checkbox
                                                [formControlName]="formFieldAttributes['unmetered'].formControlName"
                                                [nbTooltip]="formFieldAttributes['unmetered'].tooltip"
                                                nbTooltipStatus="info">
                                            {{formFieldAttributes['unmetered'].label}}
                                        </nb-checkbox>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <nb-checkbox
                                                [formControlName]="formFieldAttributes['export'].formControlName"
                                                [nbTooltip]="formFieldAttributes['export'].tooltip"
                                                nbTooltipStatus="info">
                                            Export MPAN
                                        </nb-checkbox>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <!--TODO UNDEFINED YET!!! -->
                                        <nb-checkbox status="warning">Continuous
                                            Supply Indicator
                                        </nb-checkbox>
                                    </div>
                                </div>
                                <hr>
                                <!--Data Aggregator-->
                                <div class="row" [formGroup]="form.get('da_mpid')">
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['da_mpid.market_participant_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['da_mpid.market_participant_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['da_mpid.market_participant_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['da_mpid.market_participant_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['da_mpid.market_participant_fk'].formControlName"
                                                   [status]="getFieldStatus('da_mpid.market_participant_fk', 'da_mpid')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['da_mpid.role_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['da_mpid.role_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['da_mpid.role_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['da_mpid.role_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['da_mpid.role_fk'].formControlName"
                                                   [status]="getFieldStatus('da_mpid.role_fk', 'da_mpid')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['da_mpid.effective_from'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['da_mpid.effective_from'].placeholder"
                                                   [readonly]="formFieldAttributes['da_mpid.effective_from'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['da_mpid.effective_from'].tooltip"
                                                   [formControlName]="formFieldAttributes['da_mpid.effective_from'].formControlName"
                                                   [status]="getFieldStatus('da_mpid.effective_from', 'da_mpid')">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!--Data Collector-->
                                <div class="row" [formGroup]="form.get('dc_mpid')">
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['dc_mpid.market_participant_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['dc_mpid.market_participant_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['dc_mpid.market_participant_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['dc_mpid.market_participant_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['dc_mpid.market_participant_fk'].formControlName"
                                                   [status]="getFieldStatus('dc_mpid.market_participant_fk', 'dc_mpid')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['dc_mpid.role_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['dc_mpid.role_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['dc_mpid.role_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['dc_mpid.role_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['dc_mpid.role_fk'].formControlName"
                                                   [status]="getFieldStatus('dc_mpid.role_fk', 'dc_mpid')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['dc_mpid.effective_from'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['dc_mpid.effective_from'].placeholder"
                                                   [readonly]="formFieldAttributes['dc_mpid.effective_from'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['dc_mpid.effective_from'].tooltip"
                                                   [formControlName]="formFieldAttributes['dc_mpid.effective_from'].formControlName"
                                                   [status]="getFieldStatus('dc_mpid.effective_from', 'dc_mpid')">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!--Meter Point Operator-->
                                <div class="row" [formGroup]="form.get('mop_mpid')">
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mop_mpid.market_participant_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mop_mpid.market_participant_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['mop_mpid.market_participant_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mop_mpid.market_participant_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['mop_mpid.market_participant_fk'].formControlName"
                                                   [status]="getFieldStatus('mop_mpid.market_participant_fk', 'mop_mpid')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mop_mpid.role_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mop_mpid.role_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['mop_mpid.role_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mop_mpid.role_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['mop_mpid.role_fk'].formControlName"
                                                   [status]="getFieldStatus('mop_mpid.role_fk', 'mop_mpid')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mop_mpid.effective_from'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mop_mpid.effective_from'].placeholder"
                                                   [readonly]="formFieldAttributes['mop_mpid.effective_from'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mop_mpid.effective_from'].tooltip"
                                                   [formControlName]="formFieldAttributes['mop_mpid.effective_from'].formControlName"
                                                   [status]="getFieldStatus('mop_mpid.effective_from', 'mop_mpid')">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!--SUPPLIER ID-->
                                <div class="row" [formGroup]="form.get('supplier_mpid')">
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['supplier_mpid.market_participant_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['supplier_mpid.market_participant_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['supplier_mpid.market_participant_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['supplier_mpid.market_participant_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['supplier_mpid.market_participant_fk'].formControlName"
                                                   [status]="getFieldStatus('supplier_mpid.market_participant_fk', 'supplier_mpid')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['supplier_mpid.role_fk'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['supplier_mpid.role_fk'].placeholder"
                                                   [readonly]="formFieldAttributes['supplier_mpid.role_fk'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['supplier_mpid.role_fk'].tooltip"
                                                   [formControlName]="formFieldAttributes['supplier_mpid.role_fk'].formControlName"
                                                   [status]="getFieldStatus('supplier_mpid.role_fk', 'supplier_mpid')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['supplier_mpid.effective_from'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['supplier_mpid.effective_from'].placeholder"
                                                   [readonly]="formFieldAttributes['supplier_mpid.effective_from'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['supplier_mpid.effective_from'].tooltip"
                                                   [formControlName]="formFieldAttributes['supplier_mpid.effective_from'].formControlName"
                                                   [status]="getFieldStatus('supplier_mpid.effective_from', 'supplier_mpid')">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!--CT CLass-->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mpan.ct_class'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mpan.ct_class'].placeholder"
                                                   [readonly]="formFieldAttributes['mpan.ct_class'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mpan.ct_class'].tooltip"
                                                   [formControlName]="formFieldAttributes['mpan.ct_class'].formControlName"
                                                   [status]="getFieldStatus('mpan.ct_class')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mpan.ct_rating'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mpan.ct_rating'].placeholder"
                                                   [readonly]="formFieldAttributes['mpan.ct_rating'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mpan.ct_rating'].tooltip"
                                                   [formControlName]="formFieldAttributes['mpan.ct_rating'].formControlName"
                                                   [status]="getFieldStatus('mpan.ct_rating')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mpan.ct_ratio'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mpan.ct_ratio'].placeholder"
                                                   [readonly]="formFieldAttributes['mpan.ct_ratio'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mpan.ct_ratio'].tooltip"
                                                   [formControlName]="formFieldAttributes['mpan.ct_ratio'].formControlName"
                                                   [status]="getFieldStatus('mpan.ct_ratio')">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!--VT CLass-->
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mpan.vt_class'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mpan.vt_class'].placeholder"
                                                   [readonly]="formFieldAttributes['mpan.vt_class'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mpan.vt_class'].tooltip"
                                                   [formControlName]="formFieldAttributes['mpan.vt_class'].formControlName"
                                                   [status]="getFieldStatus('mpan.vt_class')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mpan.vt_rating'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mpan.vt_rating'].placeholder"
                                                   [readonly]="formFieldAttributes['mpan.vt_rating'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mpan.vt_rating'].tooltip"
                                                   [formControlName]="formFieldAttributes['mpan.vt_rating'].formControlName"
                                                   [status]="getFieldStatus('mpan.vt_rating')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mpan.vt_ratio'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mpan.vt_ratio'].placeholder"
                                                   [readonly]="formFieldAttributes['mpan.vt_ratio'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mpan.vt_ratio'].tooltip"
                                                   [formControlName]="formFieldAttributes['mpan.vt_ratio'].formControlName"
                                                   [status]="getFieldStatus('mpan.vt_ratio')">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <!--UMSO-->
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mpan.umso_reference'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mpan.umso_reference'].placeholder"
                                                   [readonly]="formFieldAttributes['mpan.umso_reference'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mpan.umso_reference'].tooltip"
                                                   [formControlName]="formFieldAttributes['mpan.umso_reference'].formControlName"
                                                   [status]="getFieldStatus('mpan.umso_reference')">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="label col-sm-3 col-form-label">
                                            {{formFieldAttributes['mpan.unique_property_reference_number'].label}}</label>
                                        <div class="col-sm-9">
                                            <input type="text"
                                                   class="input-full-width size-medium shape-semi-round"
                                                   nbInput fullWidth
                                                   nbTooltipStatus="info"
                                                   [placeholder]="formFieldAttributes['mpan.unique_property_reference_number'].placeholder"
                                                   [readonly]="formFieldAttributes['mpan.unique_property_reference_number'].isReadOnly || !isFormEditable"
                                                   [nbTooltip]="formFieldAttributes['mpan.unique_property_reference_number'].tooltip"
                                                   [formControlName]="formFieldAttributes['mpan.unique_property_reference_number'].formControlName"
                                                   [status]="getFieldStatus('mpan.unique_property_reference_number')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </nb-tab>
                    <!--ASSET DETAILS TAB-->
                    <nb-tab tabTitle="ASSET Details" tabIcon="file-text-outline" responsive>
                        <ngx-asset-details-form
                                [form]="form.get('asset')"
                                [isReadOnly]="true"></ngx-asset-details-form>
                        <hr>
                        <!--RELATED MPANS-->
                        <div class="row">
                            <div class="ref-id-container">
                                <h6 class="text-warning">RELATED MPAN(s)</h6>
                            </div>
                        </div>
                        <div class="row" *ngIf="mpanDetailsResponse">
                            <div class="col-md-12 col-lg-12">
                                <nb-list>
                                    <nb-list-item>
                                        <div class="row">
                                            <span class="col-md-4"> MPAN-ID </span>
                                            <span class="col-md-4"> METER ID </span>
                                            <span class="col-md-4"> ADDRESS </span>
                                        </div>
                                    </nb-list-item>
                                    <nb-list-item *ngFor="let mpan of mpanDetailsResponse.asset.mpans">
                                        <div class="row">
                                    <span class="col-md-4">
                                        <a class="hvr-grow"
                                           [routerLink]="'/pages/mpan-details/' + mpan.id"
                                           routerLinkActive="active">
                                            <span>
                                                <nb-icon icon="arrow-right" pack="eva" status="info"></nb-icon>
                                                {{ 'MPAN ID -- ' + mpan.id }}
                                            </span>
                                        </a>
                                    </span>
                                            <span class="col-md-4" *ngIf="mpan.meter">
                                        <nb-icon icon="arrow-right" pack="eva" status="info"></nb-icon>
                                        {{ mpan.meter.meter_fk }}
                                    </span>
                                            <span class="col-md-4" *ngIf="mpan.mpan_address">
                                        <nb-icon icon="arrow-right" pack="eva" status="warning"></nb-icon>
                                        {{ mpan.mpan_address.address_1 + ', '
                                         + mpan.mpan_address.address_2 + ', '
                                         + mpan.mpan_address.post_code }}
                                    </span>
                                        </div>
                                    </nb-list-item>
                                </nb-list>
                            </div>
                        </div>
                    </nb-tab>
                </nb-tabset>
            </nb-card>
        </div>
    </div>
</div>