<nb-search type="rotate-layout"></nb-search>
<nb-card>
  <nb-card-body>
    <nb-menu [items]="items"></nb-menu>
  </nb-card-body>
</nb-card>

<div class="customer-detail">
  <nb-card>
    <nb-card-body>
      <h6>Customer details</h6>
      <span>name</span><br />
      <span>Customer ID</span>
      <div class="tags">
        <span>Tags#</span>
        <span>Tags2#</span>
      </div>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <h6>Account details</h6>
    </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
      <h6>Revenue details</h6>
    </nb-card-body>
  </nb-card>
</div>

<!-- <nb-card>
  <nb-list>
    <nb-list-item>
      <nb-card>
        <nb-card-body>
          fruit
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body>
          fruit
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body>
          fruit
        </nb-card-body>
      </nb-card>
    </nb-list-item>
  </nb-list>
</nb-card> -->
<ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
<div class="edit">
  <router-outlet></router-outlet>
</div>
