.customer-detail {
  display: flex;
  justify-content: space-between;

  .tags {
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 12px;
    font-size: small;

    span {
      margin-right: 6px;
    }
  }
}

.edit {
  position: absolute;
  right: 1px;
  background-color: white;
  top: 1px;
  width: 40vw;
}
