.customer-detail {
	display: flex;

	nb-card {
		flex-grow: 1;
		margin: 6px;
		padding: 6px;

		h6 {
			text-transform: uppercase;
			font-size: 12px;
		}

		.c-detail-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		.srv-detail-container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}

		.c-detail-item {
			margin-bottom: 6px;

			.c-detail-item-title {
				text-transform: uppercase;
				font-size: 8px;
				font-weight: bold;
			}

			.c-detail-item-value {
				text-transform: uppercase;
				font-size: 15px;
			}
		}
	}

	.service-account-card {
		max-width: 70%;
	}

	.customer-details-card {
		max-width: 30%;

		.c-detail-item .c-detail-item-value {
			text-transform: capitalize;
		}
	}

	.payment-details-card {
		max-width: 30%;
	}

	.customer-card {
		max-width: 36%;
	}

	.tags {
		border: 1px solid rgba(18, 247, 149, 0.12);
		padding: 1rem 0;
		border-radius: 5px;

		span {
			margin-right: 6px;
			text-transform: uppercase;
			font-size: small;
		}
	}
}

.edit {
	position: absolute;
	right: 1px;
	background-color: white;
	top: 1px;
	width: 40vw;
}

.details-card {
	flex-grow: 1;
	margin: 0 1.25rem;
}

.srv-accounts-list-card {
	flex-grow: 1;
	margin: 6px;
	overflow-y: auto;
	min-height: 100px;
}

.header > .header-con {
	margin-bottom: 0.8rem;
}

.header-body {
	padding: 0.75rem 1rem;
}
